# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Executables
*.exe

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Custom
.vscode
.DS_Store
push_swap_tester-main
push_swap_tester
checker_Mac
push_swap
PushSwap_tester-main
pyviz.py
run_MAC.sh
tester.sh