push_swap
checker

# Prerequisites
*.d

# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
.vscode
.DS_Store